@import './scss/colors.scss';
@import './scss/util.scss';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $c-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $c-bg-black;
}

body, input {
  font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: none;
  outline: none;
  color: $c-white;
  background-color: $c-bg-blue;
  padding: 8px 10px;
  border-bottom: solid 0px $c-accent;

  transition: all .15s ease;

  &:focus {
    border-bottom-width: 3px;
  }
}

button {
  border: none;
  outline: none;
  color: $c-white;
  background-color: $c-accent;
  opacity: 0.8;
  cursor: pointer;
  padding: 8px 10px;

  transition: all .15s ease;

  &:hover {
    opacity: 1;
  }

  &:disabled {
    background-color: $c-darkred;
    cursor: default;
    opacity: 0.8;
  }
}

.bg-blue {
  background-color: $c-blue;
}