@import '../../../styles/vars';

@mixin color($clr) {
  background-color: transparentize($clr, .8);
  border: solid 2px $clr;

  &:hover {
    background-color: transparentize($clr, .6);
  }

  &:disabled {
    opacity: .75;
    background-color: transparentize($clr, .8);
  }
}

button {
  padding: 4px 8px;
  color: $c-white;
  text-align: center;
  width: fit-content;
  cursor: pointer;

  transition: all .25s ease;

  @include color($c-white);

  &:disabled {
    cursor: not-allowed;
  }
}

.success {
  @include color($c-cyan);
}

.error {
  @include color($c-red);
}
