@import '../../../styles/vars';

.link-tile {
  margin-bottom: 20px;
}

.add-button {
  position: fixed;

  bottom: 20px;
  right: 20px;
  padding: 5px 15px;

  font-size: 40px;

  background-color: $c-dark-cyan;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;

  cursor: pointer;

  transition: all .25s ease;

  &:hover {
    background-color: lighten($c-dark-cyan, 5);
    box-shadow: rgba(0, 0, 0, 1) 0 5px 20px;
    bottom: 25px;
  }
}
