<div class="header-container">

  <a class="title mr-auto" routerLink="/">
    <img height="30" width="30" src="assets/icon-white.png">
    <h1>vctr</h1>
  </a>

  <div *ngIf="displaySearch" class="search-bar">
    <img src="assets/search.svg" />
    <input [(ngModel)]="searchValue" (input)="onSearchInput()"/>
  </div>

  <div class="ml-auto mv-auto flex">
    <app-button class="mr-10" routerLink="/settings">SETTINGS</app-button>
    <app-button (click)="onLogout()">LOGOUT</app-button>
  </div>

</div>
