@import './vars';

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: $c-bg;
  color: $c-white;
  font-family: 'Roboto', sans-serif;
}

a, p {
  text-decoration: none;
  color: $c-white;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
}

input[type=text],
input[type=password],
input[type=number],
input[type=datetime-local] {
  padding: 4px 8px;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  color: $c-white;
  border: solid 1px transparentize($c-white, .3);
  outline: none !important;

  transition: all .25s ease;

  &:focus {
    border: solid 1px $c-white;
  }
}

input.error {
  border: solid 1px transparentize($c-red, .3);

  &:focus {
    border: solid 1px $c-red;
  }
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mv-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mh-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.flex {
  display: flex !important;
}

.padding-wrapper {
  padding: 20px !important;
}

.embeded {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .4);
  width: fit-content;
  height: fit-content;
  font-family: 'Roboto Mono', monospace;
}

.view-box{
  width: 100%;
  max-width: 1040px;
  padding: 0 20px;
  margin: 20px auto;
}
