<a class="link-tile-container" (click)="onClick($event)">
  <img class="favicon first-two-rows" [src]="favicon" (error)="onFaviconError()" />
  <h2 class="first-two-rows">{{ shortLink.shortIdent }}</h2>

  <div class="click-count">
    <img src="assets/eye-outlined.svg">
    <p>{{ shortLink.accessCount }}</p>
  </div>

  <div class="click-count unique-access-count">
    <img src="assets/eye-filled.svg">
    <p>{{ shortLink.uniqueAccessCount }}</p>
  </div>

  <a class="root-url" [href]="shortLink.rootURL" target="_blank" (click)="onRootLinkClick($event)">{{ shortLink.rootURL }}</a>

  <p class="creation-date">Created: {{ dateFormat(shortLink.creationDate, 'dd/mm/yyyy - HH:MM') }}</p>

  <div class="status">
    <img *ngIf="!linkStatus.active" src="assets/lock.svg" />
    <img *ngIf="linkStatus.type === 3" src="assets/clock.svg" />
    <img *ngIf="linkStatus.type === 2" src="assets/limited.svg" />
    <img *ngIf="linkStatus.type === 5" src="assets/password.svg" />
  </div>
</a>
