.login-container {
    width: 100%;
    height: 100%;
    display: flex;

    > div {
        margin: 25vh auto 0 auto;
        max-width: 200px;
        display: flex;
        flex-direction: column;
        
        > input {
            display: block;  
        }
    }
}