@import '../../scss/colors.scss';

.user-editor-container {
    max-width: 850px;

    label {
        display: block;
        font-size: 18px;
    }

    input {
        display: block;
        width: 100%;
        font-size: 18px;
    }

    i {
        font-size: 0.9em;
        opacity: 0.8;
    }

    .spacing {
        margin: 10px 0 25px;
    }

    .heading-bar {
        display: flex;
        margin: 0 0 20px 0;
        color: $c-accent;
        > * {
            margin: auto 0;
        }
        > svg {
            width: 35px;
            height: 35px;
            margin-right: 10px;
            cursor: pointer;
            opacity: 0.8;
            transition: all .25s ease;

            &:hover {
                opacity: 1;
            }
        }
    }

    .save-button {
        margin-top: 10px;
        width: 100%;
        font-size: 16px;
    }

    .links-container {
        margin-top: 40px;
    }
}